<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .center-screen {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-height: 100vh;
          }
    </style>
</head>
<body>
    <div class='center-screen'>
        <b>Too many requests!</b>
        Please wait before refreshing.
        <img style='width: 300px; padding-top: 10px;' src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/96246399_10217216883836995_7310176612878647296_n.jpg?_nc_cat=110&_nc_sid=ca434c&_nc_ohc=xT8L5HUb6QoAX8Y75I-&_nc_ht=scontent-lga3-1.xx&oh=66a5df007eaca4ef658d14cd42a56012&oe=5EDF2A1D">
    </div>
    
</body>
</html>